<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <h1>Welcome, <%= user.username %></h1>
        <div class="details">
          <h5><span>First Name: </span><%= user.firstName %></h5>
          <h5><span>Last Name: </span><%= user.lastName %></h5>
          <h5><span>Email Address: </span><%= user.email %></h5>
          <h5><span>Date of Birth: </span><%= user.dob %></h5>
        </div>
        <a href="/auth/logout" class="waves-effect waves-light btn red">LOG OUT</a>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
